#containerPrincipal {
  width: 1120px;
  margin: 88px auto;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 16px;
  color: #E1624F;
}

h4 {
  font-size: 16px;
  color: #333333;
  font-style: italic;
}