#containerPrincipal {
  width: 1120px;
  margin: 88px auto;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 16px;
  color: #E1624F;
}

h4 {
  font-size: 16px;
  color: #333333;
  font-style: italic;
}

li {
  color: #0C51A7;
  font-weight: bolder;
}

.negrito {
  font-weight: bolder;
  font-size: 16px;
}

.roxo {
  color: #591B98;
}

.rosa {
  color: #E5245E;
}

.laranja {
  color: #E95E10;
}